{% extends "site_base.html" %}


{% block extra_title %}

{% endblock  %}


{% block extra_javascript %}

{% endblock %}


{% block extra_page_class %}

{% endblock %} 


{% block content %}

    <h2>Review of {{ review.item.name }}</h2>
    <p>By <a href="{% url user_reviews review.user.pk %}">
        {{ review.user.first_name }} {{ review.user.last_name }}
    </a></p>

     <ul>
         <li>Rating: {{ review.amount  }} star(s)</li>
         <li>{{ review.comment  }}</li>
     </ul>

     <fb:comments xid="{{ review.pk }}" canpost="true" candelete="true" returnurl="http://apps.facebook.com/reviewclone">
     <fb:title>Comment about {{ review.item.name }}</fb:title>
     </fb:comments>

     {% if random %}
         You need to review more movies.
         <a href="{% url create_review random.pk %}">Review another</a>
     {% else %}
         {% if user %}
             <a href="{% url dashboard %}">Return to dashboard</a>
         {% endif %}
     {% endif %}

{% endblock %}


{% block extra_footer %}

{% endblock %}
