{% extends "site_base.html" %}


{% block extra_title %}
    Add New Review
{% endblock  %}


{% block extra_javascript %}

{% endblock %}


{% block extra_page_class %}

{% endblock %} 


{% block content %}

    <h2>Create Review for {{ item.name }}</h2>

    {% if review_exist %}
        <div class="tip">
            You have already reviewed this.<br/>
         {% if random %}
            <a class="pseudo" href="{% url create_review random.pk %}">Review another</a>
         {% else %}
             <a class="pseudo" href="{% url dashboard %}">Return to dashboard</a>
         {% endif %}   
       </div>
    {% else %}
         {% include 'form.html' %}
         {% if random %}
            <a class="pseudo" href="{% url create_review random.pk %}">I haven't seen this movie</a>
         {% else %}
            <a class="pseudo" href="{% url dashboard %}">Return to dashboard</a>
         {% endif %}   
    {% endif %}


{% endblock %}


{% block extra_footer %}

{% endblock %}
