{% extends "site_base.html" %}


{% block extra_title %}
    Your clones
{% endblock  %}


{% block extra_javascript %}

{% endblock %}


{% block extra_page_class %}

{% endblock %} 


{% block content %}

    <h2>Your Clones:</h2>
    
    {% if object_list.count > 0 %}
        {% for similar in object_list %}
            {% include 'similar.html' %}
        {% endfor  %}
    {% else %}
        You have no clones.
        <a href="{% url items_list %}">Review more movies</a>
    {% endif  %}  
    
{% endblock %}


{% block extra_footer %}

{% endblock %}
