<!DOCTYPE HTML>
 <html>
     <head>
         <title>{% block extra_title %}{% endblock  %} | Review Clone</title>
         <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css"/>
         <link rel="stylesheet" href="{{ MEDIA_URL }}/css/style.css" type="text/css"/>
         <script type="text/javascript"> 
             {% block extra_javascript %}{% endblock %} 
         </script>
   </head>
   <body>
        <div id="doc" class="yui-t7 {% block extra_page_class %}{% endblock %}">
            <div id="hd" role="banner">
                <h1><a href="{% url home %}">ReviewClone</a></h1>
            </div>
             <div id="bd" role="main">
                 <div class="yui-g">
                     <ul class="messages">
                     {% for message in messages %}
                         <li class="message">{{ message }}</li>    
                     {% endfor %}
                      </ul>
                     {% block content %}
                     {% endblock %} 
                 </div>
                 <div id="ft" role="contentinfo">
                     Find out more about <a href="http://github.com/brianmacdonald/djangodash10">Review Clone</a>
                {% block extra_footer %}
                {% endblock %} 
                 </div>
        </div>
    </body>
</html>


