{% extends "site_base.html" %}

{% block extra_title %}
    Find your clone
{% endblock  %}


{% block extra_javascript %}
{% endblock %}


{% block extra_page_class %}
{% endblock %} 

{% block content %}

    <div class="tip">
        <h3>What is Review Clone?</h3>
        <p>
            Review Clone is a site where you can review movies and find other users with the similar reviews to yours. We call them "Clones."<br/>
            You can follow these Clones and next time they review a movie there's a good chance that you'll have the same opinion.
        </p>
    </div>

    <p class="home-user-links">
            <a href="{% url login %}">Login</a> or 
            <a href="{% url signup %}">Sign Up</a>
    </p>

    <div class="home-reviews">
        <h3>Latest Reviews:</h3>
        {% for review in reviews %}
            {% include 'review.html' %}
        {% endfor %}

    </div>

{% endblock %}


{% block extra_footer %}

{% endblock %}
